/* src/app/components/Header.module.css */
.header {
  display: flex;
  justify-content: center; /* Center all items horizontally */
  align-items: center; /* Center items vertically */
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Space between logo and search bar */
  color: white;
}

.logo img {
  height: 40px;
  margin-right: 10px; /* Space between logo image and text */
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  color: #1890ff;
}
