.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 45px;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logoText {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.logoText a {
  text-decoration: none;
  color: white;
}

.logoText a:hover,
.logoText a:focus,
.logoText a:visited {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.menu a:hover {
  color: #1890ff;
}

.burgerMenu {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .searchBar {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

  .mobileMenu {
    display: flex;
  }
}

.arrowIcon {
  margin-left: 5px;
}

.menuItem {
  display: inline-flex;
  align-items: center;
}

.ant-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-dropdown-menu-item {
  padding-left: 20px;
  padding-right: 20px;
}

.ant-dropdown-menu-item:hover {
  background-color: #f0f0f0;
}
