.footer {
  background-color: #f0f8fa;
  padding: 20px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.leftSection {
  max-width: 400px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.logo {
  width: 175px;
}

.logoText {
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.storeButtons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.storeButton {
  width: 120px;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 70px;
}

.heading {
  margin-bottom: 10px;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
}

.list li a {
  text-decoration: none;
  color: black;
}

.list li a:hover {
  text-decoration: underline;
}

.bottomSection {
  background-color: transparent;
  padding: 10px 20px;
  text-align: left;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.bottomSection p {
  margin: 0;
}

.terms a {
  color: #0073e6;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }

  .heading {
    display: none; 
  }

  .list {
    display: none; 
  }

  .column::before {
    content: attr(data-heading);
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
  }

  .column.expanded .list {
    display: block; 
  }
}
