/* src/app/globals.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

#__next {
  height: 100%;
  width: 100%;
}

.backgroundWrapper {
  position: relative; /* To allow absolute positioning of the flight details */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
