.container {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}

.flightDetailsWrapper {
  display: flex;
  flex-direction: column; 
  margin-right: 20px; 
  align-items: center;
}

.flightDetailsContainer {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
}

.heading {
  color: white;
  text-align: left;
}

.inputContainer {
  margin-bottom: 15px;
  color: black;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px; 
  height: 45px;
}

.routeInput {
  margin-top: 10px; 
}

.inputWrapper {
  margin-bottom: 10px; 
}

.inputContainer label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}

.suggestions {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #1890ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #40a9ff;
}

.link {
  display: block;
  margin-top: 1px;
  text-align: left;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.details {
  margin-top: 20px;
  color: black;
}

.details h2 {
  color: white;
}

.box {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.mapWrapper {
  width: 500px; 
  height: 300px; 
  margin-top: 20px; 
}

.boxTitle {
  color: gray;
}
